<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >Translate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div >
    <ion-item>
      <ion-label></ion-label>
      
      <ion-input type="text" [(ngModel)] = "searchTerm" placeholder="Search" (input)="searchTranslations()"></ion-input>
    </ion-item>

    <ion-item *ngIf="searchTerm">
      <ng-container *ngIf="searchTranslations(); else noResult">
        {{ searchTerm | titlecase }} - {{ searchTranslations() | titlecase }}
      </ng-container>
      <ng-template #noResult>
        No translations found for "{{ searchTerm }}"
      </ng-template>
    </ion-item>
  </div>
</ion-content>
