<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >Translate</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div >
    <ion-item>
      <ion-label></ion-label>
      <ion-input type="text" [(ngModel)] = "searchTerm" placeholder="Search"></ion-input>
    </ion-item>

    <div *ngFor="let word of translations | filterBy:searchTerm">
      {{ word }} 
    </div>
    <!-- <ion-grid >
      <ion-row>
        <ion-col>{{word.key}}</ion-col>
        <ion-col>{{word.value}}</ion-col>
      </ion-row>
    </ion-grid> -->

  </div>
</ion-content>
